<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= current_account.name %></title>
    <%= csrf_meta_tags %>

    <!-- Fonts -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet"> -->

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'default/shared/navigation' %>
    <%= yield %>
  </body>
</html>
